<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chest</key>
	<array>
		<dict>
			<key>name</key>
			<string>Pec Flyes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dumbbell Press</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bench Press</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chest Press Machine</string>
		</dict>
	</array>
	<key>Arms</key>
	<array>
		<dict>
			<key>name</key>
			<string>Preacher Curls</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reverse Barbell Curl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dumbbell Curl</string>
		</dict>
	</array>
	<key>Legs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Leg Press</string>
		</dict>
	</array>
	<key>Deltoids</key>
	<array>
		<dict>
			<key>name</key>
			<string>Row Machine</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Upright Barbell Row</string>
		</dict>
	</array>
</dict>
</plist>
