<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>A1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A2</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>A3</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>A4</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>A5</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			
			
			<key>name</key>
			<string>B1</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>B2</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>B3</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>B4</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>B5</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			
			
			<key>name</key>
			<string>C1</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>C2</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>C3</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>C4</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>C5</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			
			
			<key>name</key>
			<string>D1</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>D2</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>D3</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>D4</string>
		</dict>
		<dict>
			
			
			<key>name</key>
			<string>D5</string>
		</dict>
	</array>
</dict>
</plist>
